.container{
    display:flex;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.calculator{
    height:400px;
    width:300px;
    display:flex;
    flex-direction:column;
}
.first-row{
    height: 60px;
    display:flex;
    
}
.second-row{
    height:60px;
    display:flex;
}
.third-row{
    height:60px;
    display:flex;
}
.fourth-row{
    height:60px;
    display:flex;
}
.fifth-row{
    height:60px;
    display:flex;
}
#screen{
    position: relative;
    height: 100px;
    background-color: grey;
    
    border-radius: 10px;
    color: black;
    text-align: center;
}
#screen-text{
    position:absolute;
    bottom: 0;
    right: 0;
}
button{
    flex:1;
    border-radius: 20px;
    background-color: black;
    color: white;
}
